JOBCAN_EMAIL=""
JOBCAN_COMPANY_ID="C16734-17554-1356051"
MS_LOGIN_ID=""
MS_LOGIN_PASSWORD=""
CALENDAR_SKIP_WORDS="Canceled:,(件名なし)"
# Windows
#CHROME_EXTENSION_DIR="/mnt/c/Users/0000538747/AppData/Local/Google/Chrome/User\ Data/Profile\ 4/Extensions"
# Mac
CHROME_EXTENSION_DIR="/Users/tomohiko/Library/Application\ Support/Google/Chrome/Profile\ 5/Extensions/"
CHROME_EXTENSION_ID_WINDOWS_ACCOUNT="ppnbnpeolgkicgegkbkbjmhlideopiji"
JC_CALENDAR_SYNC=true

# Teamsの投稿先チャネルURL (Teams連携をする場合必須)
# Teamsアプリでチャネルの「リンクを取得」からコピーしたURL
TEAMS_CHANNEL_URL=https://teams.microsoft.com/l/channel/...
